@model IEnumerable<Manga.Model.Entities.MangaSeries>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="CreateSeries">Utwórz nową serię</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa serii
            </th>
            <th>
                Wydawnictwo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher.Name)
                </td>
                <td>
                    <a asp-action="DetailsSeries" asp-route-id="@item.Id">Szczegóły</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="EditSeries" asp-route-id="@item.Id">Edytuj</a>
                        <a asp-action="DeleteSeries" asp-route-id="@item.Id">Usuń</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
