@model IEnumerable<Manga.Model.Entities.MangaVolume>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Utwórz nowy</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tomy
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                    tom
                    @Html.DisplayFor(modelItem => item.VolumeNumber)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
